.upload {
  .upload__Button {
    border: none;
    background-color: rgb(127, 167, 81);
    padding: 1rem;
    border-radius: 10px;
    color: White;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
}
