@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.header {
  display: flex;
  justify-content: center;
  gap: 16rem;
  margin-bottom: 3rem;
  background-color: rgb(50, 46, 43);

  .header__option {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: rgb(50, 46, 43);
  }
}
